<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/dictation/css/bootstrap.min.css">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/static/dictation/js/jquery-3.3.1.min.js"></script>
    <script src="/static/dictation/js/popper.min.js" ></script>
    <script src="/static/dictation/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/hcm/css/mathcorrection.css?v=1.0.13">
    <script type="text/javascript" src="/static/hcm/js/mathcorrection.js?v=1.0.45"></script>
</head>
<body>
<div>
    <input type="button" class="btn" id="getMedia" value="作业拍摄"/>
{#    <input type="button" class="btn" id="disPop" value="disPop"/>#}
    <input type="button" class="btn" id="save" value="作业保存">
    <input type="button" class="btn" id="correct" value="作业判错">
</div>

<canvas id="canvas" width="420" height="594"></canvas>

<div class="pop_con" id="getCamera">
    <div class="pop">
        <video id="video" autoplay="autoplay"></video>
        <div>
            <input type="button" class="btn" id="switch" value="切换前后"/>
            <input type="button" class="btn" id="snap" value="拍  照"/>
            <input type="button" class="btn" id="exit" value="退出"/>
        </div>
    </div>


    <div class="mask"></div>
</div>
</body>
</html>