<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/dictation/css/bootstrap.min.css">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/static/dictation/js/jquery-3.3.1.min.js"></script>
    <script src="/static/dictation/js/popper.min.js" ></script>
    <script src="/static/dictation/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/hcm/css/mathcorrection.css?v=1.0">
    <script type="text/javascript" src="/static/hcm/js/mathcorrection.js?v=1.0.5"></script>
</head>
<body>
<input type="button" class="btn" id="getMedia" value="开启摄像头"/>
<video id="video" autoplay="autoplay"></video>
<canvas id="canvas"></canvas>
<input type="button" class="btn" id="snap" value="拍照"/>
</body>
</html>