
.word{
    border:1px solid red;
    float:left;
    width:80px;
    margin:5px 10px;
    text-align:center;
    font:20px/30px '微软雅黑';
}

.un{
    background-color: white;
}

.se{
    background-color: lightblue;
}

.save{
    position:absolute;
    left:0;
    right: 0;
    bottom:0;
    /*background-color: red;*/
    text-align: center;
}


.playerpanel{
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    height:40px;
    text-align:center;
}
.playerpanel div{
    float:left;
    width:20%;
    /*height:40px;*/
    /*background-color: #1e7e34;*/

}

.playerbutton{
    width:90px;
    font-size:16px;
    margin:4px auto 0;
}

#play{
    position:absolute;
    left:0;
    right:0;
    bottom:40px;
    height:80px;
    text-align:center;
}

#pinyin{
    width:300px;
    font:40px/80px '微软雅黑';
}