
.word{
    border:1px solid red;
    float:left;
    width:80px;
    margin:5px 10px;
    text-align:center;
    font:20px/30px '米开天涯楷书';
}

.un{
    background-color: white;
}

.se{
    background-color: lightblue;
}

.save{
    margin:4px auto 0;
}
