
body{
	background-color:gold;
}


.main_cont {
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background-color: lightblue;
}

.header_part{
    height:40px;
    background-color: RGB(103,179,255);
    coltr:red;
    text-align:center;
    line-height:40px;
}

.center_part{

    position: absolute;
    left:0;
    top:40px;
    right:0;
    bottom:40px;
    color:red;
}

.footer_part {
    position: absolute;
    left: 0;
    bottom: 0;
    color: red;
}

#next{
    float:right;
}

#dictype{
    float:left;

}
