
body{
	background-color:gold;
}


.main_cont {
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background-color: lightblue;
}

.header_part{
    height:40px;
    background-color: RGB(103,179,255);
    color:red;
    text-align:center;

    font-size:0;
}

#dictype{
    float:left;
    font-size:16px;
    margin:4px auto 0;
}

#next{
    float:right;
    font-size:16px;
    margin:4px auto 0;
}

.header_part span{
    font-size:16px;
    margin:7px auto 0;
}



.center_part{

    position: absolute;
    left:0;
    top:40px;
    right:0;
    bottom:40px;
    color:red;
}

ul{
    list-style: none;
    padding:0;
}
.footer_part {
    height:40px;
    position: absolute;
    left: 0;
    bottom: 0;
    right:0;
    border-top:1px solid rgb(228,228,228);
    font-size:0;
    text-align:center;
}

.footer_part div{
    float:left;
    width:25%;
}

#create{

    font-size:16px;
    margin:4px auto 0;
}

#dictation{
    font-size:16px;
    margin:4px auto 0;

}

#dictation1{
    font-size:16px;
    margin:4px auto 0;

}

#record{

    font-size:16px;
    margin:4px auto 0;
}