
/*body{*/
    /*background-color:gold;*/
/*}*/


.main_cont {
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    /*background-color: lightblue;*/
}

.header_part{
    height:40px;
    background-color: RGB(103,179,255);
    color:red;
    text-align:center;

    font-size:0;
}

#dictype{
    float:left;
    font-size:16px;
    margin:4px auto 0;
}

#next{
    float:right;
    font-size:16px;
    margin:4px auto 0;
}

.header_part span{
    font-size:16px;
    margin:7px auto 0;
}



.center_part{
    position: absolute;
    left:0;
    top:40px;
    right:0;
    bottom:40px;
    color:red;
    overflow:auto;
    font-size: 0;
}

.center_part div{
    font-size: 30px;
}

.tab-content div{
    display:None;
}

.ch{
    position: absolute;
    left: 0;
    top:0px;
    right: 0;
    bottom: 0;


}
ul{
    list-style: none;
    padding:0;
}

/*.lesson{*/
/*position:absolute;*/
/**/
/*}*/
.lsradio{
    /*float:left;*/
    width:50%;
}

/*.createpanel{*/
    /*position:absolute;*/
    /*bottom: 0;*/
    /**/
/*}*/
.createpanel div{
    float:left;
    width:50%;
    text-align: center;
}

.createpanel input{
    margin:4px auto ;
    font:20px/40px '宋体'
}

.footer_part {
    height:40px;
    position: absolute;
    left: 0;
    bottom: 0;
    right:0;
    border-top:1px solid rgb(228,228,228);
    font-size:0;
    text-align:center;
}

.footer_part div{
    float:left;
    width:25%;
}

.footbtn{
    font-size:16px;
    margin:4px auto 0;
}
#create{
    /*font-size:16px;*/
    /*margin:4px auto 0;*/
}

