<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/static/dictation/css/tabtest.css">
    <script src="/static/dictation/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/static/dictation/js/tabtest.js"></script>
</head>
<body>
<div class="tab-head">
    <h2 class="selected">1</h2>
    <h2>2</h2>
    <h2>3</h2>
</div>
<div class="tab-content">
    <div class="show">content1</div>
    <div>content2</div>
    <div>content3</div>
</div>

</body>
</html>
