<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>开心听写</title>
    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/dictation/css/bootstrap.min.css">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/static/dictation/js/jquery-3.3.1.min.js"></script>
    <script src="/static/dictation/js/popper.min.js"></script>
    <script src="/static/dictation/js/bootstrap.min.js"></script>
    <!-- player JS -->
    {#    <script type="text/javascript" src="/static/dictation/js/cyberplayer.js"></script>#}

    <link rel="stylesheet" type="text/css" href="/static/dictation/css/main.css">
    <link rel="stylesheet" type="text/css" href="/static/dictation/css/wordimport.css">
    <script type="text/javascript" src="/static/dictation/js/wordimport.js?v=1.0"></script>


</head>
<body>
<div class="main_cont clearfix">
    <div class="header_part">
        {#        <div class="headerleft half "><button class="btn btn-primary " id="newword">生词</button></div>#}
        <span>词语导入</span>
        {#        <div class="headerright half "><button class="btn btn-default " id="wrongword">错词</button></div>#}
    </div>

    <div class="center_part">

        <form class="ch" action="dispwords/">
            <div class="form-group">
                <label>出版社</label>
                <select class="form-control" name="press" id="press">
                    <option value ="人民教育出版社">人民教育出版社</option>
                </select>
            </div>
            <div class="form-group">
                <label>课本</label>
                <select class="form-control" name="book" id="book">
                    <option value ="五年级 上册">五年级 上册</option>
                </select>
            </div>
            <div class="form-group">
                <label>单元</label>
                <select class="form-control" name="unit" id="unit">
                    <option value ="1单元">1单元</option>
                </select>
            </div>
            <div class="form-group radio">
                <label>课文</label>
                <select class="form-control" name="lesson" id="lesson">
                    <option value =""></option>
                </select>

            </div>

            <div class="form-group">
                <label>词语</label>
                <br>
                <textarea class="form-control" rows="15" id="lessonword">

                </textarea>
            </div>

        </form>

    </div>
    <div class="footer_part clearfix">

        <div><button class="footbtn rootnav" id="save">添加</button></div>
        <div><button class="footbtn rootnav" id="delete">删除</button></div>
    </div>

</div>
</body>
</html>